In [ ]:
#Using the heights_weights_genders.csv, analyze the difference between the height weight correlation in women and men.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/heights_weights_genders.csv")

In [5]:
df.head(10)

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801
5   Male  67.253016  152.212156
6   Male  68.785081  183.927889
7   Male  68.348516  167.971110
8   Male  67.018950  175.929440
9   Male  63.456494  156.399676

In [6]:
df_m = df[df['Gender'].str.contains("Male")]
df_w = df[df['Gender'].str.contains("Female")]

In [11]:
df_m.corr()

          Height    Weight
Height  1.000000  0.862979
Weight  0.862979  1.000000

In [12]:
df_w.corr()

          Height    Weight
Height  1.000000  0.849609
Weight  0.849609  1.000000